/*BEGIN SEGA Controller Styling*/

.controller.custom{
    background: url(SBase.png); 
    height: 1690px;
    width: 1330px;
    background-repeat:no-repeat;
}

.custom.disconnected { 
    background: url(SDisconnected.png);
}

.custom.disconnected div {
    display: none;
}

.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}

.custom .start{
    opacity: 0;
    position: absolute;
}

.custom .start.pressed{
    height: 1690px;
    width: 1330px;
    left: -291px;
    top: -250px;
    background: url(SStartButton.png);
    opacity: 1;
}

.custom .abxy{
    position: absolute;
    background-repeat:no-repeat;
}

.custom .button{
    position: absolute;
}

.custom .button.pressed{
    background-position-y: -00px;
    margin-top: 0px;
}

.custom .a.pressed{
    background: url(SLeftButton.png); 
    height: 1690px;
    width: 1330px;
    background-repeat:no-repeat;
}

.custom .b.pressed{
    background: url(SRightButton.png);
    height: 1690px;
    width: 1330px;
    background-repeat:no-repeat;
}

.custom .face{
    background: url(dpad.svg);
    position: absolute;
}

.custom .face.right.pressed{
    background: url(SDpadRight.png); 
    height: 1690px;
    width: 1330px;
    background-repeat:no-repeat;
}

.custom .face.left.pressed{
    background: url(SDpadLeft.png); 
    height: 1690px;
    width: 1330px;
    background-repeat:no-repeat;
}

.custom .face.up.pressed{
    background: url(SDpadUp.png); 
    height: 1690px;
    width: 1330px;
    background-repeat:no-repeat;
}

.custom .face.down.pressed{ 
    background: url(SDpadDown.png); 
    height: 1690px;
    width: 1330px;
    background-repeat:no-repeat;
}

/*END SEGA Controller Styling*/